body{
    margin: 0;
}

header{
    background: #01A750;
    height: 200px;
    display: flex;
}

.logo img {
    height: 100%;
}

h1{
    font-family: 'Cinzel Decorative', cursive;;
    font-size: 450%;
    color: #0B4586;
    position: absolute;
    left: 38%;
    top: 1%;
}

h2{
    font-family: "Phosphate";
    font-size: 250%;
    color: #006223;
    position: absolute;
    left: 39%;
    top:12%
}
/* Diseño del flexbox parent*/
#root {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    margin-top: 30px;
}

.main__container{
    width: 1200px;
    float: left;
}


/*Diseño de flexbox para childs*/
.card{
    flex: 50%;
    margin: 10px;
    border: 5px solid #FB9A00;
    background-color: #FB9A00;
    box-shadow: 10px 5px 5px grey;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 18px 18px 4px rgba(0, 0, 0, 0.4);
}

.card .content{
    font-size: 1em;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    background-image: url(./9E1B7670-2AD2-4E25-9AD2-333922481F4D.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5%;
    box-shadow: 18px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.parrafoNombre {
    color: #3157A2;
    text-shadow: 2px 2px 4px grey;
    font-size: 20px;
}

.drop-down-lists{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #3157A2;
}

.card-search{
    height: 50px;
}

.selectors {
    border-radius: 5px;
    border: 1px solid #0B4586;
    height: 50px;
    padding: 10px 14px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #0B4586;
}

.selectors:hover{
    background-color: #FFFF99;
    color: #0B4586;
    font-size: 16px; 
    border: 1px solid #FFFF99;   
}

.aside {
    width: 950px;
    /*background: #01A750;*/
    float: right;
    margin-top: 325px;
    width: calc(100% - 1380px);
    height: 100%;
    align-items: flex-start;
    margin-top: 50px;
    margin-right: 140px;
    
}

@media screen and (min-width: 320px) and (max-width: 480px){
    header{
        height: 200px;
        justify-content: space-between;
    }
    .logo{
        height: 80%;
    }
    h1{
        font-family: "Futura";
        font-size: 200%;
        position: absolute;
        left: 45%;
        top: 2%;
    }
    h2{
        font-family: "Futura";
        font-size: 200%;
        position: absolute;
        left: 45%;
        top: 9%;
    }
    #root {
        margin: auto;
    }
    .card{
        flex-basis: 80%;
    }
    .drop-down-lists{
        display: grid;
        gap: 5%;
        padding-bottom: 55px;
    }

    .selectors {
        height: 30px;
        padding: 0px 14px;
    }

    .selectors:hover{
        background-color: #FFFF99;
        color: #0B4586;
        font-size: 16px; 
        border: 1px solid #FFFF99;   
    }

    .card-search{
        height: 35px;
    }
}


@media screen and (min-width: 480px) and (max-width: 960px) and (orientation:portrait){
    header{
        width: 130%;
        
    }

    .logo{
        height: 80%;
        margin-left: 7%;
        margin-top: 3%;
    }

    h1{
        font-size: 400%;
        margin-top: 1%;
        margin-left: 2%;
        
    }

    h2{
        font-size: 350%;
        margin-top: 2%;
        margin-right: 5%;
        
    }
    #root {
        margin: auto;
        width: 120%;
    }
    .card{
        flex-basis: 30%;
    }

    .drop-down-lists{
        display: flex;
        padding: 5%;
        width: 120%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .selectors {
        height: 30px;
        padding: 0px 14px;
        margin-right: 15%;   
        width: 23%;
        font-size: 15px;
        margin-top: 2%;
        margin-left: 5%;
    }

    .selectors:hover{
        background-color: #FFFF99;
        color: #0B4586;
        font-size: 16px; 
        border: 1px solid #FFFF99;   
    }

    .card-search{
        height: 35px;
        left: 98%;
        position: absolute;
        top: 325px;
    }

}